#hero-2 {

    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    h1{
        color:var(--red);
        font-family: 'Bebas Neue', cursive;
        font-weight: 400;
        font-size: rem-calc(80);
        margin: 30px;
        line-height: 50px;
    }
    h2{
        color:var(--blue);
        font-family: 'Bebas Neue', cursive;
        font-weight: 200;
        font-size: rem-calc(50);
        margin-bottom: 30px;
        line-height: 50px;
    }
    @include md{
        height: 80vh;
    }

    @include lg{
        height: 100vh;
    }


    #color{
        background-color: rgba(var(--whiteO));
        border-radius: 40px;
    }


    #bg-img{
        background-image: url("../img/hero-2.jpg");
        background-size: cover;
        background-position: bottom;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
        // clip-path: inset(10% 30% 5% 10%);
}}