#aboutMe{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". hiking .";
    margin: 24px 0;

    @include md{
        grid-template-columns: auto 90vw auto;
        margin: 48px 0;
    }

    @include lg{
        grid-template-columns: auto 80vw auto;
        margin: 64px 0;
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
    }

    >div{
        grid-area: hiking;

        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        section{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px;
        h1{
            color:var(--red);
            font-family: 'Bebas Neue', cursive;
            font-weight: 400;
            font-size: rem-calc(90);}
        p{
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: rem-calc(30);}
    }

        aside{
            height: 100vh;
            overflow: hidden;

            @include md{
                height: 70vh;
            }

            div{
                background-image: url("../img/profile.jpg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                height: 100%;
            }
        }
    }
}